# Compiled class files
*.class

# Log files
*.log

# sbt specific files
target/
project/target/
project/project/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
out/

# OS-specific files
.DS_Store
Thumbs.db

# Configuration files (if you have any sensitive configuration)
application.conf
